@use "variables" as *;
@use "mixins" as *;

.availableKeys{

    &__heading{
        text-align: center;
    }

    &__keys{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__key{
        @include list-item($margin-right: 0);
    }

    &__notes{
        width: 400px;
        margin-top: 40px;
        display: flex;
        justify-content: space-evenly;
    }
}
