@use "variables" as *;
@use "mixins" as *;

.scaleChords{

    &__chordsWrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__chord{
        @include list-item(
            $width: 72px,
            $height: 42px,
            $margin-right: 0,
            $shadow-color: $note-5-color
        );
        padding: 0 10px;
    }
}
