@use "mixins" as *;

.scaleChords {
  &__chordsWrapper { display: flex; flex-wrap: wrap; gap: 10px; }
  &__chord {
    @include list-item($width: 88px, $height: 40px, $radius: 999px, $margin-right: 0);
    padding: 0 14px;
  }
}
