@use "variables" as *;

.scaleNotes{
    display: flex;
    flex-direction: column;

    &__heading{
        text-align: left;
    }

    &__notesWrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__note{
        width: 50px;
        height: 40px;
        border-radius: 10px;
        display: grid;
        place-content: center;

        &--1{
            color: $note-1-color;
            border: 1px solid $note-1-color;
        }
        &--2{
            color: $note-2-color;
            border: 1px solid $note-2-color;
        }
        &--3{
            color: $note-3-color;
            border: 1px solid $note-3-color;
        }
        &--4{
            color: $note-4-color;
            border: 1px solid $note-4-color;
        }
        &--5{
            color: $note-5-color;
            border: 1px solid $note-5-color;
        }
        &--6{
            color: $note-6-color;
            border: 1px solid $note-6-color;
        }
        &--7{
            color: $note-7-color;
            border: 1px solid $note-7-color;
        }
    }
}
